EAD_CA2_MVC_4_Project/Service References/WCFProxy/EADService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EAD_WCF_Webservice" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EAD_WCF_Webservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStudentContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudentContract" nillable="true" type="tns:StudentContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudentContract" nillable="true" type="tns:ArrayOfStudentContract" />
  <xs:complexType name="StudentContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Height" type="xs:decimal" />
      <xs:element minOccurs="0" name="OtherData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Standard" nillable="true" type="tns:StandardContract" />
      <xs:element minOccurs="0" name="StudentID" type="xs:int" />
      <xs:element minOccurs="0" name="StudentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentContract" nillable="true" type="tns:StudentContract" />
  <xs:complexType name="StandardContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="StandardId" type="xs:int" />
      <xs:element minOccurs="0" name="StandardName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Students" nillable="true" type="tns:ArrayOfStudentContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StandardContract" nillable="true" type="tns:StandardContract" />
</xs:schema>